<?xml version="1.0"?>

<robot name="$(arg name)" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--<xacro:property name="M_PI" value="3.1415926535897931"/>-->
  <xacro:include filename="$(find iri_objects_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find iri_objects_description)/urdf/cylinder/urdf.xacro" />
  <xacro:cylinder_urdf HEIGHT="$(arg height)" RADIUS="$(arg radius)"/>
  <xacro:include filename="$(find iri_objects_description)/urdf/cylinder/gazebo.gazebo" />
  <xacro:cylinder_gazebo cylinder_name="$(arg name)"/>

</robot>