<!-- -->
<launch>

<param name="use_sim_time" value="true"/>

    <node pkg="rosbag"
        type="play"
        name="rosbag"
        args=" --clock --pause -l $(find iri_akp_local_planner_companion)/results_akp_companion_real_rosbag/2017-03-01-12-28-56.bag"/> 

<!-- Rosbags akp_companion!!! (paper IROS2017) -->
<!--

1) 2017-03-01-11-18-33.bag  // solo fernando y solo.

2) 2017-03-01-11-50-31.bag // caso1 obstaculo, con Fernando, no tiene video.

3) 2017-03-01-11-51-57.bag // caso1 obstaculo, malo con Fernando, no tiene video.

4) 2017-03-01-11-54-03.bag // caso 1, bueno, regular Alex, creo... el primero.

5) 2017-03-01-11-57-58.bag  // caso 1, (malo pq Alex se intenta ir por el lado)

6) 2017-03-01-11-59-39.bag  // caso 1,  bueno! Alex.

7) 2017-03-01-12-00-54.bag  // caso 1,  bueno! Alex.

8) 2017-03-01-12-02-24.bag  // caso 1,  bueno! Alex.

9) 2017-03-01-12-03-19.bag // caso 1, bueno! Alex.

10) 2017-03-01-12-04-29.bag // caso 1, Alex se va por camino que no toca. (no usable, en IROS2017 paper)

11) 2017-03-01-12-05-33.bag // caso 1, bueno/regular... y al principio sobra parte del rosbag.

12) 2017-03-01-12-08-29.bag // caso 1, BUENO

13) 2017-03-01-12-12-20.bag // caso 1, regular...

14) 2017-03-01-12-14-53.bag // MALO

15) 2017-03-01-12-15-32.bag // caso 1, bueno! joan (VIDEO BUENO!!!) ( video real: MAH08829.MP4) El a usar en los videos de IROS2017

16) 2017-03-01-12-16-37.bag  // caso 1, bueno! (v3) joan (izquierda) ( video real: MAH08830.MP4)

17) 2017-03-01-12-18-36.bag // MALO

18) 2017-03-01-12-19-45.bag // MALO

19) 2017-03-01-12-21-46.bag  // caso 1, MAlo! obstaculo joan (v4) ( video real: MAH08833.MP4 )
 
20) 2017-03-01-12-28-56.bag // caso 3, MUY bien!!! ( video real: MAH08835.MP4). El a usar en los videos de IROS2017

21) 2017-03-01-12-31-19.bag // MALO

22) 2017-03-01-12-32-35.bag // MALO

23) 2017-03-01-12-33-49.bag  //caso 3, MUY bien!!! ( video real: MAH08837.MP4)

24) 2017-03-01-12-35-10.bag  // MALO, el k me sature!  ( video real:  MAH08839.MP4 )

25) 2017-03-01-12-41-08.bag  // caso 3, pasable... solo un poco mal al final. ( video real: MAH08840.MP4 )

26) 2017-03-01-12-42-44.bag  // MALO

27) 2017-03-01-12-43-32.bag   // caso 4, bueno!  ( video real: MAH08841.MP4 )  El a usar en los videos de IROS2017

28) 2017-03-01-12-49-57.bag  // caso 4, regular tirando a malo... ( video real: MAH08843.MP4)

29) 2017-03-01-12-56-40.bag // caso 2, regular/medio malo, se aleja demasiado (le atascan entre personas). ( video real: MAH08844.MP4)

30) 2017-03-01-12-57-50.bag // caso 2, regular/final malo, se aleja demasiado. ( video real: MAH08845.MP4)

31) 2017-03-01-12-58-53.bag // caso 4, malo! cruze id's entre Alex's. ( video real: MAH08846.MP4)

32) 2017-03-01-13-01-16.bag //caso4 raro de cruzes bruscos, no sirven datos pq fastidian demasiado al robot ( video real: MAH08847.MP4)

33) 2017-03-01-13-03-38.bag  //caso2 (video 8848.MP4, grupo de personas 3, personas y 2 personas vista rara) Bueno.  El a usar en los videos de IROS2017

-->
   

  <arg name="map" default="2" />

  <!-- load robot defined machines -->

  <include file="$(find tibi_dabo_base)/machines/$(optenv ROBOT tibi)_$(env ROS_MODE).machines" />
  <rosparam command="delete" ns="/$(optenv ROBOT tibi)/move_base" />


<!-- roslaunch iri_akp_local_planner_companion model_robot_company.launch -->
 <include file="$(find iri_akp_local_planner_companion)/launch/model_robot_company.launch"/>

 <group ns="$(optenv ROBOT tibi)"> 

 <!-- People Tracking MHT (remap) -->
    <!-- published topics:  /$(env ROBOT)/mht/tracks -->
    <!-- subscribed topics: /$(env ROBOT)/detections -->
    <!-- service clients: -->
    <!-- service servers: -->
    <!-- action clients: -->
    <!-- action servers: -->
  <node pkg ="iri_people_tracking_mht"
        type="iri_people_tracking_mht"
        name="mht_2"      
      output="screen"> 
   <!-- <remap from="/mht_2/detections"
              to="/lpd_2/peopleMapFiltered" />   -->
    <remap from="~detections"
              to="/$(optenv ROBOT tibi)/lpmf2/peopleMapFiltered" />         
    <remap from="~odom"
              to="/$(optenv ROBOT tibi)/segway/odom" />
    <remap from="~odom_for_medium_velocity"
              to="/$(optenv ROBOT tibi)/segway/odom" />
      <param name="~/frame_id"               type="string" value="/map" />
      <param name="local_tracker"            type="bool"   value="false"/>
      <param name="~/association_threshold"  type="double" value="2.0" />
      <param name="~/confirmation_threshold" type="double" value="0.9" />
      <param name="~/deletion_threshold"     type="double" value="0.4" />
      <param name="~/laser_probability"      type="double" value="0.9" />
      <param name="~/laser_false_alarm"      type="double" value="0.1" />
      <param name="~/laser_new_track"        type="double" value="0.11" />
      <param name="~/laser_no_detection"     type="double" value="0.99" />
      <param name="~/laser_no_confirmed"     type="double" value="0.02" />
      <param name="~/laser_no_confirmed_iteration" type="double" value="0.01" />
      <param name="~/augment_covariance_track"     type="double" value="0.15" />
      <param name="~/id_markers"       type="bool" value="True" />
      <param name="~/vel_markers"      type="bool" value="True" />
      <param name="~/cov_markers"      type="bool" value="True" />
      <param name="~/covdet_markers"   type="bool" value="False" />
      <param name="~/covpred_markers"  type="bool" value="False" />
      <param name="~/clust_markers"    type="bool" value="False" />
      <param name="~/cov_markers_head" type="bool" value="False" />
      <param name="~/cov_markers_arm1" type="bool" value="False" />
      <param name="~/cov_markers_arm2" type="bool" value="False" />
			<param name="~/track_path_markers" type="bool" value="False" /> 
  </node>


 <!-- Front Laser People Detector (remap)  -->
      <!-- published topics:  /$(env ROBOT)/people -->
      <!-- subscribed topics: /$(env ROBOT)/sensors/front_laser_scan -->
      <!-- service clients: -->
      <!-- service servers: -->
      <!-- action clients: -->
      <!-- action servers: -->
    <node pkg ="iri_laser_people_detection"
          type="iri_laser_people_detection"
          name="lpd_front2"
          machine="nav">
      <param name="~rangeThreshold"     type="double" value="0.0" />
      <param name="~detectionThreshold" type="double" value="-0.05" />
      <param name="~boostFilePath"      type="string" value="/usr/local/include/iridrivers/boostData/boostFile.txt" />
      <param name="~boostFilePath2"     type="string" value="/usr/local/include/iridrivers/boostData/boostFile2.txt" />
      <param name="~selectPosesFrame"   type="bool"   value="True" />
      <param name="~posesFrame"         type="string" value="/map" />
      <param name="~selectScanFrame"    type="bool"   value="False" />
      <param name="~scanFrame"          type="string" value="/$(env ROBOT)/front_laser" />
      <param name="~markerWidth"        type="double" value="0.7" />
      <param name="~markerHeight"       type="double" value="0.5" />
      <param name="~markerR"            type="double" value="1.0" />
      <param name="~markerG"            type="double" value="0.0" />
      <param name="~markerB"            type="double" value="0.0" />
      <param name="~markerA"            type="double" value="0.5" />
      <param name="~filterPosesMode"    type="bool"   value="False" />
      <param name="~filterR"            type="double" value="0.0" />
      <param name="~filterX"            type="double" value="0.0" />
      <param name="~filterY"            type="double" value="0.0" />
      <remap from="~scan"
               to="/$(optenv ROBOT tibi)/sensors/front_laser_scan" />
      <remap from="~people"
               to="/$(optenv ROBOT tibi)/lpd_2/people" />
    </node>

    <!-- Rear Laser People Detector (remap)-->
      <!-- published topics:  /$(env ROBOT)/people -->
      <!-- subscribed topics: /$(env ROBOT)/sensors/rear_laser_scan -->
      <!-- service clients: -->
      <!-- service servers: -->
      <!-- action clients: -->
      <!-- action servers: -->
    <node pkg ="iri_laser_people_detection"
          type="iri_laser_people_detection"
          name="lpd_rear2"
          machine="nav">
      <param name="~/rangeThreshold"     type="double" value="0.0" />
      <param name="~/detectionThreshold" type="double" value="-0.05" />
      <param name="~/boostFilePath"      type="string" value="/usr/local/include/iridrivers/boostData/boostFile.txt" />
      <param name="~/boostFilePath2"     type="string" value="/usr/local/include/iridrivers/boostData/boostFile2.txt" />
      <param name="~/selectPosesFrame"   type="bool"   value="True" />
      <param name="~/posesFrame"         type="string" value="/map" />
      <param name="~/selectScanFrame"    type="bool"   value="False" />
      <param name="~/scanFrame"          type="string" value="/$(env ROBOT)/rear_laser" />
      <param name="~/markerWidth"        type="double" value="0.7" />
      <param name="~/markerHeight"       type="double" value="0.5" />
      <param name="~/markerR"            type="double" value="1.0" />
      <param name="~/markerG"            type="double" value="0.0" />
      <param name="~/markerB"            type="double" value="0.0" />
      <param name="~/markerA"            type="double" value="0.5" />
      <param name="~/filterPosesMode"    type="bool"   value="False" />
      <param name="~/filterR"            type="double" value="0.0" />
      <param name="~/filterX"            type="double" value="0.0" />
      <param name="~/filterY"            type="double" value="0.0" />
      <remap from="~scan"
               to="/$(optenv ROBOT tibi)/sensors/rear_laser_scan" />
      <remap from="~people"
               to="/$(optenv ROBOT tibi)/lpd_2/people" />
    </node>



  <!-- Laser People map Filter -->
    <!-- published topics:  /$(env ROBOT)/peopleFiltered -->
    <!-- subscribed topics: /$(env ROBOT)/people -->
    <!--                    /$(env ROBOT)map -->
    <!-- service clients: -->
    <!-- service servers: -->
    <!-- action clients: -->
    <!-- action servers: -->
    <node pkg ="iri_laser_people_map_filter"
          type="iri_laser_people_map_filter"
          name="lpmf2"
          machine="nav">
      <param name="~/neighborRadius"   type="double" value="0.5" />
      <param name="~/markerWidth"      type="double" value="0.7" />
      <param name="~/markerHeight"     type="double" value="1.5" />
      <param name="~/markerR"          type="double" value="1.0" />
      <param name="~/markerG"          type="double" value="1.0" />
      <param name="~/markerB"          type="double" value="0.0" />
      <param name="~/markerA"          type="double" value="0.9" />
      <param name="~/markerLifeTime"   type="double" value="0.1" />
      <remap from="~people"
               to="/$(optenv ROBOT tibi)/lpd_2/people" />
      <remap from="~peopleFiltered"
               to="/$(optenv ROBOT tibi)/lpmf2/peopleMapFiltered" />
      <remap from="~map"
               to="/$(optenv ROBOT tibi)/map" />
    </node>
  


<!-- iri_akp_local_planner_companion (remap) -->
    <!--launch-prefix="xterm -e ddd -args" -->
    <node pkg ="move_base"
          type="move_base"
          name="move_base2"
          machine="nav"
          output="screen">
      <remap from="/$(optenv ROBOT tibi)/cmd_vel"
              to="/$(optenv ROBOT tibi)/navigation/cmd_vel2" />
      <remap from="/$(optenv ROBOT tibi)/odom"
              to="/$(optenv ROBOT tibi)/segway/odom" />
      <remap from="/$(optenv ROBOT tibi)/front_scan"
              to="/$(optenv ROBOT tibi)/sensors/front_laser_scan" />
      <remap from="/$(optenv ROBOT tibi)/rear_scan"
              to="/$(optenv ROBOT tibi)/sensors/rear_laser_scan" />
     <!-- <remap from="/$(optenv ROBOT tibi)/tracks"
               to="/$(optenv ROBOT tibi)/mht/tracks" /> -->
      <remap from="/$(optenv ROBOT tibi)/tracks"
               to="/$(optenv ROBOT tibi)/mht_2/tracks" />
      <remap from="/$(optenv ROBOT tibi)/move_base2/goal"
               to="/$(optenv ROBOT tibi)/move_base/goal" />
      <remap from="/$(optenv ROBOT tibi)/planner_markers"
               to="/$(optenv ROBOT tibi)/planner_markers2" />
      <rosparam file="$(find iri_akp_local_planner_companion)/config/$(optenv ROBOT tibi)/move_base_params.yaml"      command="load" />
      <rosparam file="$(find iri_akp_local_planner_companion)/config/$(optenv ROBOT tibi)/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find iri_akp_local_planner_companion)/config/$(optenv ROBOT tibi)/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find iri_akp_local_planner_companion)/config/$(optenv ROBOT tibi)/local_costmap_params.yaml"  command="load" />
      <rosparam file="$(find iri_akp_local_planner_companion)/config/$(optenv ROBOT tibi)/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find iri_akp_local_planner_companion)/config/$(optenv ROBOT tibi)/akp_local_planner_params.yaml" command="load" />
      <!--<param name="AkpLocalPlanner/force_map_path"       value="$(find iri_akp_local_planner)/maps/$(arg map)_forces.txt" />-->
      <param name="AkpLocalPlanner/destination_map_path" value="$(find iri_akp_local_planner_companion)/maps/$(arg map)_destinations.txt" />
      <param name="AkpLocalPlanner/results_filename" value="$(env HOME)/iri-lab/labrobotica/restricted/algorithms/people_prediction/branches/ely_people_prediction_companion_robot/data_results/results_robot.txt" />
      <param name="AkpLocalPlanner/debug_filename" value="$(env HOME)/iri-lab/labrobotica/restricted/algorithms/people_prediction/branches/ely_people_prediction_companion_robot/data_results/debug_robot.txt" />
      <param name="AkpLocalPlanner/robot" value="$(optenv ROBOT tibi)"/>
    </node>

  </group>


 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find iri_akp_local_planner_companion)/config/$(optenv ROBOT tibi).rviz" />


</launch>
