<?xml version="1.0"?>

<model>
  <name>fme_corridor</name>
  <version>1.0</version>
  <sdf version="1.4">fme_corridor.sdf</sdf>

  <author>
    <name>labrobotica</name>
    <email>labrobotica@iri.upc.edu</email>
  </author>

  <description>
    A model of a FME (Facultat Matemàtiques i Estadística) corridor
  </description>
</model>
