<?xml version="1.0"?>

<model>
  <name>brl_small</name>
  <version>1.0</version>
  <sdf version="1.4">brl_small.sdf</sdf>

  <author>
    <name>labrobotica</name>
    <email>labrobotica@iri.upc.edu</email>
  </author>

  <description>
    A reduced model (front part) of the Barcelona Robot Lab Campus
  </description>
</model>
