<?xml version="1.0"?>

<model>
  <name>fme_vertical_laser_test</name>
  <version>1.0</version>
  <sdf version="1.4">fme_vertical_laser_test.sdf</sdf>

  <author>
    <name>labrobotica</name>
    <email>labrobotica@iri.upc.edu</email>
  </author>

  <description>
    A model of the FME (Facultat Matemàtiques i Estadística) patio, with the big door opened.
    Added 20cm hole region and 20cm platform region, to test vertical laser detection
  </description>
</model>
