<!-- -->
<launch>

  <node pkg ="iri_akp_tools_companion"
        type="diff_platform_simulator"
        name="$(optenv ROBOT dabo2)_platform_simulator"
        output="screen">
    <param name="robot" type="string" value="$(optenv ROBOT dabo2)" />
    <remap from="~cmd_vel"
            to="/$(optenv ROBOT dabo2)/segway/cmd_vel" />
    <remap from="~odom"
            to="/$(optenv ROBOT dabo2)/segway/odom" />
  </node>

</launch>
