<!-- -->
<launch>

  <node pkg ="iri_akp_tools_companion"
      type="fake_laser_gen"
      name="$(optenv ROBOT dabo2)_fake_laser_gen"
      output="screen">
    <param name="laser_mode" value="0" />
    <remap from="~scan" to="/$(optenv ROBOT dabo2)/sensors/front_laser_scan"/>
  </node>

</launch>
