<?xml version="1.0"?>

<model>
  <name>brl_big</name>
  <version>1.0</version>
  <sdf version="1.4">brl_big.sdf</sdf>

  <author>
    <name>labrobotica</name>
    <email>labrobotica@iri.upc.edu</email>
  </author>

  <description>
    A complete model of the Barcelona Robot Lab Campus
  </description>
</model>
