<?xml version="1.0"?>

<robot name="$(arg name)" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find iri_objects_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find iri_objects_description)/urdf/planar_base_footprint/include/planar_base_footprint.xacro" />
  
  <xacro:planar_base_footprint
    name="object" 
    prefix="$(arg name)" >
  </xacro:planar_base_footprint>

</robot>