<?xml version="1.0"?>

<model>
  <name>master_big</name>
  <version>1.0</version>
  <sdf version="1.4">master_big.sdf</sdf>

  <author>
    <name>labrobotica</name>
    <email>labrobotica@iri.upc.edu</email>
  </author>

  <description>
    A model of the Aula Master near the Barcelona Robot Lab Campus
  </description>
</model>
