<?xml version="1.0"?>

<robot name="person">

  <link name="base_footprint"/>

  <link name="base_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://iri_objects_description/meshes/legs.stl"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://iri_objects_description/meshes/legs.stl"/>
      </geometry>
      <material name="grey"/>
    </visual>

    <inertial>
      <mass value="80.0" />
      <origin xyz="0 0 0" />
      <inertia 
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0" 
        izz="1.0" />
    </inertial>
  </link>
  
  <joint name="base_footprint_to_base_link" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.0"/>
  </joint>
  
  <link name="head">
  </link>
  
  <joint name="base_link_to_head" type="fixed">
    <parent link="base_link"/>
    <child link="head"/>
    <origin xyz="0 0 1.6"/>
  </joint>

</robot>
