<?xml version="1.0"?>

<model>
  <name>fme_opened_door</name>
  <version>1.0</version>
  <sdf version="1.4">fme_opened_door_HAS_obstaclesEly.sdf</sdf>

  <author>
    <name>labrobotica</name>
    <email>labrobotica@iri.upc.edu</email>
  </author>

  <description>
    A model of the FME (Facultat Matemàtiques i Estadística) patio, with the big door opened
  </description>
</model>
