<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">
  <material name="black">
    <color rgba="0.15 0.15 0.15 1.0"/>
  </material>

  <material name="blue">
    <color rgba="0.17 0.3 0.56 1.0"/>
  </material>

  <material name="orange">
    <color rgba="0.93 0.44 0.01 1.0"/>
  </material>

  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="grey">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>

  <material name="grey2">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>

  <material name="grey3">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>

  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

  <material name="white">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>
</root>